@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ede7ff;
    font-family: DMsans;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.main {
    background-color: #FFFFFF;
    width: 600px;
    margin: 8em 0;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}

.sign {
    color: #4318FF;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.un,
.pass {
    width: 80%;
    font-size: 18px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.08);
    padding: 15px 25px;
    border-radius: 999px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 25px;
    transition: 0.3s;
    font-family: DMsans;
}

.un:focus,
.pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.form1 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.error-field {
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit {
    cursor: pointer;
    border-radius: 999px;
    color: #fff;
    background: linear-gradient(135deg, #868CFF 0%, #2e03ec 100%);
    border: 0;
    padding: 14px 0;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    width: 45%;
    transition: 0.4s ease-out;
    font-family: DMsans;
    background-size: 1px 100px;
}

.submit:hover {
    background-position: 100px;
}

@media (max-width: 650px) {
    .sign {
        font-size: 28px;
    }

    .form1 {
        padding-top: 36px;
    }

    .main {
        width: 92%;
        margin: 3em auto;
        padding: 35px 30px;
    }

    .un,
    .pass {
        width: 100%;
        padding: 12px 22px;
    }

    .error-field {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .btn-form {
        flex-direction: column;
    }

    .submit {
        width: 100%;
        padding: 12px 0;
    }

    .submit:first-child {
        margin-bottom: 15px;
    }
}